.ant-menu-dark {
  @apply bg-primary-900 !important;
}
.ant-menu-item,
.ant-menu-submenu {
  @apply bg-primary-900 m-0 hover:bg-primary-800 !important;
}
.ant-menu-submenu-title {
  @apply flex items-center;
}
.ant-menu-item {
  @apply flex items-center;
}
.ant-menu-item-selected {
  @apply bg-purple-900 !important;
}
.ant-menu-submenu-title span {
  @apply ml-3;
}
.ant-menu-item-selected:before {
  background-color: #3699ff !important;
}
.ant-menu-item-only-child:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #4f555f;
  margin-right: 7px;
}
.ant-menu-inline-collapsed .ant-menu-submenu-title {
  padding: 0 calc(50% - 18px) !important;
  @apply flex items-center justify-center;
}
.ant-menu-inline-collapsed .ant-menu-submenu-title span {
  display: none;
}
.ant-menu-inline-collapsed .ant-menu-item {
  padding: 0 calc(50% - 18px) !important;
  @apply flex items-center justify-center;
}
.ant-menu-inline-collapsed .ant-menu-item span {
  display: none;
}
